<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/mobilescripts/js")
</head>
<body>

    <div class="screen-wrap">


        <header class="app-header bg-primary">
            <a href="javascript:history.go(-1)" class="btn-header"><i class="fa fa-arrow-left"></i></a>
            <div class="header-right">  </div>
        </header> <!-- section-header.// -->

        <main class="app-content">

            
            @RenderBody()
            <hr />
            

        </main>

        <nav class="nav-bottom">
            <a href="index.html" class="nav-link">
                <i class="icon fa fa-home"></i><span class="text">Home</span>
            </a>

            <a href="page-category-1.html" class="nav-link">
                <i class="icon fa fa-th"></i><span class="text">Category</span>
            </a>

            <a href="page-cart-1.html" class="nav-link">
                <i class="icon fa fa-shopping-cart"></i><span class="text">Cart</span>
            </a>

            <a href="page-profile.html" class="nav-link active">
                <i class="icon fa fa-user"></i><span class="text">Profile</span>
            </a>
        </nav> <!-- nav-bottom -->


    </div>

</body>
</html>
