
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_boostrapmobile.cshtml";
}


<div class="bg-primary padding-x padding-bottom">
    <h3 class="title-page text-white">Create Account</h3>
</div>

<section class="padding-around">
    <form action="#" class="p-4">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Mobile Number">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Create Password">
        </div>
        <button class="btn btn-block btn-primary">Create</button>
    </form>

    <p class="text-center">
        Don’t have account <br> <a href="@Url.Action("signin", "Home")" class="btn-link">Sign In</a>
    </p>

</section>

