
@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/_boostrapmobile.cshtml";
}

<div class="screen-wrap">


    <header class="app-header bg-primary">
        <h5 class="title-header ml-2">LDJMISSION </h5>
        <div class="header-right">  <a href="#" class="btn-header"> <i class="fa fa-bell"></i> </a> </div>
    </header> <!-- section-header.// -->
    <main class="app-content">

        <div class="bg-primary padding-x padding-bottom">
            <input type="text" placeholder="Search" class="form-control input-dark border-0">
        </div>

        <section class="padding-around scroll-horizontal">
            <a href="#" class="item-slider card-banner rounded mr-2">
                <div class="card-body bg-warning" style="height: 180px; background-image: url('/theme/images/banners/slide4.jpg');"> </div>
                <div class="text-bottom"><h5 class="title">2022 Prophecy</h5></div>
            </a>
            <a href="#" class="item-slider card-banner rounded mr-2">
                <div class="card-body bg-warning" style="height: 180px; background-image: url('/theme/images/banners/slide5.jpg');"> </div>
                <div class="text-bottom"><h5 class="title">Fasting Prayer</h5></div>
            </a>
            <a href="#" class="item-slider card-banner rounded mr-2">
                <div class="card-body bg-warning" style="height: 180px; background-image: url('/theme/images/banners/slide6.jpg');"> </div>
                <div class="text-bottom"><h5 class="title">Today Bible Quiz</h5></div>
            </a>
        </section>


        <h5 class="title-section">New arrival</h5>
        <section class="scroll-horizontal  padding-x">
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Great item name</p>
                        <div class="price">$27.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Headset for music</p>
                        <div class="price">$27.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">TP link modem</p>
                        <div class="price">$43.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Great product name</p>
                        <div class="price">$98.50</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Headset for music</p>
                        <div class="price">$27.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">TP link modem</p>
                        <div class="price">$43.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Great product name</p>
                        <div class="price">$98.50</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
        </section>

        <hr class="divider my-3">

        <h5 class="title-section">Recommended</h5>
        <section class="scroll-horizontal padding-x">
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Great item name</p>
                        <div class="price">$27.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Headset for music</p>
                        <div class="price">$27.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">TP link modem</p>
                        <div class="price">$43.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Great product name</p>
                        <div class="price">$98.50</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Headset for music</p>
                        <div class="price">$27.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">TP link modem</p>
                        <div class="price">$43.00</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="product-sm">
                    <div class="img-wrap"> <img src="images/items/item.jpg"> </div>
                    <div class="text-wrap">
                        <p class="title text-truncate">Great product name</p>
                        <div class="price">$98.50</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div>
        </section>

        <hr class="divider my-3">

        <h5 class="title-section">Categories</h5>

        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="icontext">
                    <span class="icon icon-sm bg-primary rounded"> <img src="images/icons/category-white/cpu.svg" alt=""> </span>
                    <div class="text"> <h6 class="title">Electronic items</h6> <span class="text-muted">234 items</span></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="icontext">
                    <span class="icon icon-sm bg-primary rounded"> <img src="images/icons/category-white/homeitem.svg" alt="">  </span>
                    <div class="text"> <h6 class="title">Home equipments</h6> <span class="text-muted">354 items</span></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="icontext">
                    <span class="icon icon-sm bg-primary rounded"> <img src="images/icons/category-white/book.svg" alt="">  </span>
                    <div class="text"> <h6 class="title">Books and magazines</h6> <span class="text-muted">48 items</span></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="icontext">
                    <span class="icon icon-sm bg-primary rounded"> <img src="images/icons/category-white/ball.svg" alt="">  </span>
                    <div class="text"> <h6 class="title">Sport and outdoor</h6> <span class="text-muted">97 items</span></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="icontext">
                    <span class="icon icon-sm bg-primary rounded"> <img src="images/icons/category-white/cpu.svg" alt=""> </span>
                    <div class="text"> <h6 class="title">Electronics</h6> <span class="text-muted">234 items</span></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="icontext">
                    <span class="icon icon-sm bg-primary rounded"> <img src="images/icons/category-white/homeitem.svg" alt="">  </span>
                    <div class="text"> <h6 class="title">Home items</h6> <span class="text-muted">354 items</span></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="icontext">
                    <span class="icon icon-sm bg-primary rounded"> <img src="images/icons/category-white/book.svg" alt="">  </span>
                    <div class="text"> <h6 class="title">Books and magazines</h6> <span class="text-muted">48 items</span></div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="icontext">
                    <span class="icon icon-sm bg-primary rounded"> <img src="images/icons/category-white/ball.svg" alt="">  </span>
                    <div class="text"> <h6 class="title">Sport and outdoor</h6> <span class="text-muted">97 items</span></div>
                </a>
            </li>
        </ul>

        <p class="text-center my-4"><a href="index.html" class="btn btn-light"> <i class="fa fa-arrow-left"></i> <span class="text">More pages</span></a></p>


    </main>

    <nav class="nav-bottom">
        <a href="index.html" class="nav-link active">
            <i class="icon fa fa-home"></i><span class="text">Home</span>
        </a>

        <a href="page-search.html" class="nav-link">
            <i class="icon fa fa-search"></i><span class="text">Search</span>
        </a>

        <a href="page-cart-1.html" class="nav-link">
            <i class="icon fa fa-shopping-cart"></i><span class="text">Cart</span>
        </a>

        <a href="page-profile.html" class="nav-link">
            <i class="icon fa fa-user"></i><span class="text">Profile</span>
        </a>
    </nav> <!-- nav-bottom -->


</div>

