
@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_boostrapmobile.cshtml";
}

<div class="screen-wrap">


    <header class="app-header bg-primary">
        <a href="javascript:history.go(-1)" class="btn-header"><i class="fa fa-arrow-left"></i></a>
        <div class="header-right"> <a href="#" class="btn-header">Log out</a></div>
    </header> <!-- section-header.// -->


    <main class="app-content">

        <section class="padding-x pb-3 bg-primary text-white">
            <figure class="icontext align-items-center mr-4" style="max-width: 300px;">
                <img class="icon icon-md rounded-circle" src="images/avatars/1.jpg">
                <figcaption class="text">
                    <p class="h5 title">Mr. Jackson</p>
                    <p class="text-white-50">+13012345678</p>
                </figcaption>
            </figure>
        </section>

        <section class="padding-around">
            <ul class="row">
                <li class="col-4">
                    <a href="#" class="btn-card-icontop btn">
                        <span class="icon"> <i class="fa fa-heart"></i> </span>
                        <small class="text text-center"> Wishlist </small>
                    </a>
                </li>
                <li class="col-4">
                    <a href="#" class="btn-card-icontop btn">
                        <span class="icon"> <i class="fa fa-shopping-basket"></i> </span>
                        <small class="text text-center"> Purchases</small>
                    </a>
                </li>
                <li class="col-4">
                    <a href="#" class="btn-card-icontop btn">
                        <span class="icon"> <i class="fa fa-wallet"></i> </span>
                        <small class="text text-center"> Wallet</small>
                    </a>
                </li>
            </ul>
        </section>

        <hr class="divider">

        <section class="padding-top">
            <h5 class="title-section padding-x">Orders</h5>
            <nav class="nav-list">
                <a class="btn-list" href="#">
                    <span class="float-right badge badge-warning">3</span>
                    <span class="text">On proccess</span>
                </a>
                <a class="btn-list" href="#">
                    <span class="float-right badge badge-success">1</span>
                    <span class="text">Shipped</span>
                </a>
                <a class="btn-list" href="#">
                    <span class="float-right badge badge-secondary">0</span>
                    <small class="title"></small>
                    <span class="text">Unpaid</span>
                </a>
            </nav>
        </section>
        <hr class="divider">
        <section class="padding-top">
            <h5 class="title-section padding-x">Account</h5>
            <nav class="nav-list">
                <a class="btn-list" href="#">
                    <i class="icon-control fa fa-chevron-right"></i>
                    <span class="text">Notifications</span>
                </a>
                <a class="btn-list" href="#">
                    <i class="icon-control fa fa-chevron-right"></i>
                    <span class="text">Settings</span>
                </a>
                <a class="btn-list" href="#">
                    <i class="icon-control fa fa-chevron-right"></i>
                    <span class="text">Support</span>
                </a>
            </nav>
        </section>

        <hr class="divider">
        <section class="padding-top">
            <h5 class="title-section padding-x">Personal</h5>
            <nav class="nav-list">
                <a class="btn-list" href="@Url.Action("edit_profile","Home")">
                    <i class="icon-action fa fa-pen"></i>
                    <small class="title">Username</small>
                    <span class="text">vosidiy</span>
                </a>
                <a class="btn-list" href="@Url.Action("edit_profile","Home")">
                    <i class="icon-action fa fa-pen"></i>
                    <small class="title">Email</small>
                    <span class="text">myname@gmail.com</span>
                </a>
            </nav>
        </section>
        <br>

        <p class="text-center my-4"><a href="index.html" class="btn btn-light"> <i class="fa fa-arrow-left"></i> <span class="text">More pages</span></a></p>


    </main>

    <nav class="nav-bottom">
        <a href="index.html" class="nav-link">
            <i class="icon fa fa-home"></i><span class="text">Home</span>
        </a>

        <a href="page-category-1.html" class="nav-link">
            <i class="icon fa fa-th"></i><span class="text">Category</span>
        </a>

        <a href="page-cart-1.html" class="nav-link">
            <i class="icon fa fa-shopping-cart"></i><span class="text">Cart</span>
        </a>

        <a href="page-profile.html" class="nav-link active">
            <i class="icon fa fa-user"></i><span class="text">Profile</span>
        </a>
    </nav> <!-- nav-bottom -->
    </nav> <!-- nav-bottom -->

</div>

