
@{
    ViewBag.Title = "signin";
    Layout = "~/Views/Shared/_boostrapmobile.cshtml";
}



<div class="bg-primary padding-x padding-bottom">
    <h3 class="title-page text-white">Sign in</h3>
</div>

<section class="padding-around">
    <form action="#" class="p-4">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Login">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <button class="btn btn-block btn-primary">Button</button>
    </form>

    <p class="text-center">
        Don’t have account <br> <a href="@Url.Action("createaccount", "Home")" class="btn-link">Create account</a>
    </p>

</section>
